<div class="container">
    <mat-card>
        <div class="photo">
            <img src="./assets/foto.png" class="game-photo">
        </div>
        <div class="detail">
            <div class="title">{{game.title}}</div>
            <div class="properties">
                <div><i>Categoría: </i>{{ game.category?.name || '—' }}</div>
                <div><i>Autor: </i>{{ game.author?.name || '—' }}</div>
                <div><i>Nacionalidad: </i>{{ game.author?.nationality || '—' }}</div>
            </div>
        </div>
    </mat-card>
</div>