.photo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}



mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 220px;
    border-radius: 8px;
}


.game-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}